<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jobag">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JoBag">
        <activity
            android:name=".Postulante.RegistrarActivityPerfil"
            android:exported="false" />
        <activity
            android:name=".Postulante.PerfilActivityPostulante"
            android:exported="false" />
        <activity
            android:name=".Postulante.RegisterActivityPostulante"
            android:exported="false" />
        <activity
            android:name=".Empleador.RegisterActivityEmpleador"
            android:exported="false" />
        <activity
            android:name=".Empleador.LoginActivityEmpleador"
            android:exported="false" />
        <activity
            android:name=".Postulante.LoginActivityPostulante"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>